<!doctype html>
<html lang="en">
	<head>
		<%- include('./partials/head')  %> 
	</head>
	<body class="single-page page">
		<%- include('./partials/header') %> 		
		<div class="container-fluid" id="body">
			<div class="container">
				<%- include('./partials/navigation')  %> 
				<form method="POST", action="/post/<%= post._id %>/editPost ">
				<div class="row blog-teaser">
						<div class="col-12 mt-4 mb-2">
							<input type="text" name="header" placeholder="Headline" value="<%= post.header %>">
						</div>
						<div class="col-12 mt-2 mb-3">
							<button class="btn btn-custom btn-img">Choose image</button><span class="label-img">display image name</span>
							<input class="upload-btn" type="file">
						</div>
						<div class="col-md-12 my-2">
							<textarea class="col-md-8 p-1" name="text" placeholder="Blog text"><%- post.text %></textarea>
						</div>
						<div class="col-md-12 my-2">
							<input type="text" name="keywords" placeholder="Keywords" value="<%= post.keywords %>">
						</div>
						<div class="col-md-12 mt-2 mb-4">
							<button class="btn btn-custom" type="submit">Submit</button>
							<button class="btn btn-custom" type="reset">Reset</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>
			function uploadPostPhoto(postId){
				$.post('/post/' + postId + '/uploadPhoto', function(data){
					console.log('uploaded')
				})
			}
		</script>
	</body>
</html>
	