<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <%- include('./partials/header', {profile: profile}) %>
        
        <div class="container-fluid" id="body">
			<div class="container">
				<%- include('./partials/navigation')  %> 
				<div class="row settings-container">
					<div class="col-md-12">
						<!-- if -->
						<div class="row">
							<div class="col-12 mt-4">
									<a class="custom-link mt-4" href="/ ">>Edit Profile</a>
							</div>
						</div>
						<!-- end of if -->
						<div class="row">
							<div class="col-md-2 col-6">
								<img class="blog-img blog-img-inline p-0 py-4" src="..\uploads\user\<%= profile.profilePicture %>">
							</div>
							<div class="col-md-10 col-6">
								<h4 class="py-4"><%= profile.name %> </h4>
							</div>
						</div>
						<hr class="blue-line-hr">
						<div class="row mx-3 my-2">
							<div class="col-6 m-auto">
								<p>Mail</p>
							</div>
							<div class="col-6 text-right">
								<button class="btn btn-custom" type="submit">Button</button>
							</div>
						</div>	
						<div class="row mx-3 my-2">
							<div class="col-6 m-auto">
								<p>Setting 1</p>
							</div>
							<div class="col-6 text-right">
								<button class="btn btn-custom" type="submit">Button</button>
							</div>
						</div>	
						<div class="row mx-3 my-2">
							<div class="col-6 m-auto">
								<p>Setting 1</p>
							</div>
							<div class="col-6 text-right">
								<button class="btn btn-custom" type="submit">Button</button>
							</div>
						</div>	
						<hr class="blue-line-hr">
						<div class="row mx-3 my-2">
							<div class="col-6 m-auto">
								<p>Setting 1</p>
							</div>
							<div class="col-6 text-right">
								<button class="btn btn-custom" type="submit">Button</button>
							</div>
						</div>
						<div class="row mx-3 my-2">
							<div class="col-6 m-auto">
								<p>Setting 1</p>
							</div>
							<div class="col-6 text-right">
								<button class="btn btn-custom" type="submit">Button</button>
							</div>
						</div>
						<div class="row mx-3 my-2">
							<div class="col-6 m-auto">
								<p>Setting 1</p>
							</div>
							<div class="col-6 text-right">
								<button class="btn btn-custom" type="submit">Button</button>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="../public/script.js"></script>
    </body>
</html>