<!doctype html>
<html lang="en">
	<head>
		<%- include('./partials/head')  %> 
	</head>
	<body class="overview-page page">

		<%- include('./partials/header', {profile: profile})  %> 

		<div class="container-fluid" id="body">
			<div class="container">
				<%- include('./partials/navigation')  %> 
                <% for (const results in search_results){ %>
                    <a href="/post/<%= posts[post]._id %>"  target="_blank">
					<div class="row blog-teaser">
						<% if(posts[post].picture) {%> 
						<div class="col-md-8">
						<% } else { %> 
						<div class="col-md-12">
						<% } %>
							<h2 class="blog-hl"><%=posts[post].header%></h2>
							<p>
								<%=posts[post].text%>
							</p>
						</div>
						<% if(posts[post].picture) {%> 
							<div class="col-md-4">
								<img class="blog-img" src="/uploads/post/<%= posts[post].picture %> ">
							</div>
						<% } %> 
					</div>
                </a>
                <% } %>
			</div>
		</div>
	</body>
</html>
	